<div class="form-group">

<% if @post.errors.any? %>
	<ul class="alert alert-danger">
		<% @post.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>
<%= form_for @post do |form| %>

	<p>
		<h4>Название</h4>
		<%= form.text_field :name, class: "form-control" %>
	</p>
	<p>
		<h4>Новость</h4>
		<%= form.text_area :body, class: "form-control"%>
	</p>
	<p>
		<%= form.submit "Сохранить", class: "btn btn-success" %>
	</p>
<%end%> 
</div>